<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/style/view.css" media="all">
	<title>View file</title>
</head>
<body>
	<div class="viewer">
		<div class="header">
			<div class="file-info">
				<p id="file-name">View file</p>
			</div>

			<div id="download">
				<p class="type">{{ mime_type }}</p>
			</div>
		</div>

		<div id="content" aria-label="Content of the file">{{ file_content }}</div>
	</div>

	<script>
		document.getElementById("file-name").innerText = document.location.pathname.substring(1);

		const downloadLink = document.createElement("a");
		downloadLink.innerText = "Download";
		downloadLink.href = document.location.pathname;
		downloadLink.classList.add("download-link");

		document.getElementById("download").append(downloadLink);
	</script>
	<script src="/assets/scripts/viewer.js"></script>
</body>
</html>
